global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http-in
    bind *:80
    # Si Coolify pasa tráfico HTTP, este es el puerto que expone HAProxy
    # HAProxy mandará el tráfico al backend
    acl is_api path_beg /api
    use_backend backend_api if is_api
    default_backend dashboard_ui

backend backend_api
    server api1 backend:8000 check

backend dashboard_ui
    server dashboard1 dashboard:8050 check
